
div {
  margin: 0em;
  padding: 2em;
}

#source {
  color: blue;
  border: 1px solid black;
}

#target {
  border: 1px solid black;
}
Copy to Clipboard
Result
ul{
list-style-type: none;
display: justify-content; 
justify-content:start; 
}
h2 {
color:#5C9DC0
 }

/**
.draggable { 
background-color:#CCC; 
width: 100px; 
height: 100px; 
padding: 0.5em; 
float: left; 
margin: 10px 10px 10px 0; 
}

.droppable { 
background-color:rgb(0, 174, 255); 
width: 50px; 
height: 50px; 
padding: 0.5em; 
float: left; 
margin: 5px; 
}

/*/

table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
}
table thead tr th {
  background: #878787;
  color: #EcEcEC;
  padding: 0.5em;
  overflow: hidden;
}

table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
    background: #ECECEC;
color: #5C9DC0;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table tbody tr {
  background: #ECECEC;
}

table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #5C9DC0;
  position: relative;
  height: 32px;
  cursor: pointer;
}

table tbody tr td.hour {
  font-size: 2em;
  padding: 0;
  color: #ECECEC;
 background: #ECECEC; 
  border-bottom: 1px solid #5C9DC0;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}
table tbody tr td.hour span {
  display: block;
color: #5C9DC0; 
}
.addBtn {
background-color: #5C9DC0;
border: none; 
color:#EAEFF9; 
padding: 15px; 15px; 
text-align: center; 
display: inline-block; 
font-size: 12px; 

}

@media (max-width: 60em) {
  table thead tr th .long {
    display: none;
  }
  table thead tr th .short {
    display: block;
  }
  table tbody tr td.hour span {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  table thead tr th .day.active {
    background: #ECECEC;
    color: #5C9DC0;
  }
  table tbody tr td.hour {
    font-size: 1.7em;
  }
  table tbody tr td.hour span {
    transform: translateY(16px) rotate(270deg);
    -webkit-transform: translateY(16px) rotate(270deg);
    -moz-transform: translateY(16px) rotate(270deg);
  }
}