
/*Split screen in half*/
.split, 
.right {
float: right; 
height:100%; 
width:50%; 
padding-top: 20px; 
}

.parent {
height: 100%;
width: 100%;
position: relative;
}
.child, .beach {
float: left; 
width: 25%;
height: 25%;
position: absolute;
}
.weatherWidget {
float:left; 
height: 50%; 
width: 50%; 
position: absolute; 
}
p {
  font-size: 20px;
 
}


/* Center horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black
;
  padding: 10px;
}

.header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: right;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/*** OVERWRITE - MEDIA QUERY FOR TABLETS AND SMALLER  ***/
/* This will be applied on any screen 768px and bellow */
@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}

div {
  margin: 0em;
  padding: 2em;

}

#source {
  color: #5C9DC0;
 
}

#target {
  border: 1px solid #5C9DC0;
background-color: #EAEFF9
}
Copy to Clipboard
Result
ul{
list-style-type: none;
display: justify-content; 
justify-content:start; 
}
h2 {
color:#5C9DC0
 }

.draggable { 
background-color:#CCC; 
width: 100px; 
height: 100px; 
padding: 0.5em; 
float: left; 
margin: 10px 10px 10px 0; 
}

.droppable { 
background-color:rgb(0, 174, 255); 
width: 50px; 
height: 50px; 
padding: 0.5em; 
float: left; 
margin: 5px; 
}

.addBtn {
background-color: #5C9DC0;
border: none; 
color:#EAEFF9; 
padding: 15px; 15px; 
text-align: center; 
display: inline-block; 
font-size: 12px; 

}
